<!DOCTYPE html>

<head>
    <meta charset="utf-8">
    <title>The Online Diary</title>
    <meta name="description" content="">
    <!-- responsive meta tag -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- my style sheet -->
    <link rel="stylesheet" href="/styles.css">
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">
    <!-- vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- icons -->
    <script src="https://kit.fontawesome.com/5e785b2c48.js" crossorigin="anonymous"></script>
</head>

<body>
    <div id="app">
        <!-- menu  -->
        <div class="dashWrapper">
            <div class="menu">

                <h2 class="menuTitle">The Online Diary</h2>

                
                <a href="javascript:void(0);"  v-on:click="showMenu()"class="icon" onclick="myFunction()">
                    <i class="fa fa-bars"></i>
                </a>

                <div id="menuItems">
                    <li><i class="fas fa-search"></i><input class="search" type="text" placeholder="Search"></a></li>
                    <li><i class="fas fa-home"></i><a href="/index.html">Home</a></li>
                    <li><i class="fas fa-book-open"></i><a href="All.html">All Entries</a></li>
                    <li><i class="fas fa-chart-line"></i><a href="/Graph.html">Graphs</a></li>
                    <li><i class="fas fa-address-book"></i><a href="/Contact.html">Contact</a></li>
                </div>

               

                
            </div>

            <!-- main block -->
            <div class="main block">
                <h1 class="blockTitle">Hello {{ Name }},</h1>
                <h3 class="blockTitle">Todays Date is {{displayDate()}}</h3>
                <!-- <input type="text" v-on:keyup.enter="logName" v-model="name" /> -->
            <!-- <span>{{ name }}</span> -->
            <!-- <label>Age:</label> -->
            <!-- <input type="text" v-on:keyup.alt.enter="logAge" v-model="age" /> -->
            <!-- <span>{{ age }}</span> -->
            </div>

            <!-- diary block -->
            <div class="diary block">
                <textarea class="diaryInput" placeholder="How was your day?" contenteditable="false"></textarea>
                <button>Submit</button>
            </div>

            <!-- previous enteries block -->
            <div class="previous block">
                <h3 class="blockTitle">Previous Entries</h3>
                <ul>
                    <li v-for="entry in entries"> . {{ entry.text }}</li>
                </ul>
            </div>

            <!-- weather block -->
            <div class="weather block">
                <h3 class="blockTitle">Weather</h3>
                <p id="result">Loading Location...{{showPosition()}}</p>
                hello kelly
            </div>

            <!-- quote block -->
            <div class="quote block">
                <h3 class="blockTitle">Quote of the day</h3>
            </div>
        </div>
    </div>
    <!-- my js file -->
    <script src="/my.js"></script>
</body>

</html>